header{
    background-color: rgb(255, 255, 255);
    display: flex;
 justify-content: space-around;
 align-items: center;
 font-size: 30px;

}
body{
    background-color: black;
}
.FEM_Agencia{
    width: 20;
    font-size: 40px;
}
.Sobre{
    width: 20;
}
.Servicos{
    height: 60;
    width: 20;
}
.Contato{
    height: 60;
    width: 20;
}
.Blog{
    height: 60;
    width: 20;
}
h2{
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}
.FEM{
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    font-size: 40px;
}
.coca{
    display: flex;
    width: 1000px;
 justify-content: left;
}
.adias{
    display: inline-block;
    width: 1000px;
    position: absolute;
}